.App {
  display: flex;
  justify-content: center;
}

.sidebarLeft {
  width: 15%;
  border: 1px solid grey;
}
.mainBody {
  width: 50%;
  border: 1px solid grey;
}
.sidebarRight {
  width: 35%;
  border: 1px solid grey;
  display: flex;
  flex-wrap: wrap;
}
.photos {
  padding: 10px;
}

.cardImage {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border: 2px solid grey;
}

.mainPicture {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
.mainCardPicture {
  width: 500px;
  height: 500px;
  object-fit: cover;
}

.buttonNew {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagePicture {
  padding: 20px;
}

.pageCardPicture {
  width: 100px;
  height: 100px;
  object-fit: cover;
  padding: 10px;
}
.key {
  text-align: center;
}

.picker-container {
  position: relative;
  width: 300px;
}
.emoji-icon {
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 5px;
}
.input-style {
  padding: 7px 30px 7px 10px;
  width: calc(100% - 40px);
  border-radius: 3px;
  border: 1px solid rgb(235, 235, 235);
  margin-bottom: 10px;
}
